.showhide-wrap {
  height: 25px
}
.showhide {
  width: 80px;
  height: 23px;
  padding: 0;
  margin: 5px;
  position: absolute;
  overflow: hidden
}
.showhide-open {
  width: auto;
  height: auto;
  padding: 6px;
  border: 1px solid #555;
  border-radius: 5px;
  box-shadow: 0 0 8px #333;
  background: #FFF;
  z-index: 99
}
.showhide-switch {
  height: 23px;
  width: 100%;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
  clear: both
}
.showhide-switch-open {
  margin-bottom: 10px
}
.showhide-switch:hover {
  background: #77CDE9
}